input {
    background:white;
  }
  input[type="button"] {
    background:#000;
    color:#000;
  }
  
  #container input {
    margin-bottom: 15px;
  }
  label {
    color:	#000;
    font: 85% Arial,Helvetica;
    
  }
  #result {
    color: #000;
  }
  #container {
    margin-left:2px;
    margin-bottom:15px;
  }

p{
  margin-top: -10px;
}